.page {
    background-color: #ffffff;
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        transform: translateY(0px);
        transition: transform 0.5s ease;

        &.min {
            transform: translateY(-10px);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
            .logo {
                .clip, .sub {
                    opacity: 0;
                }
            }
        }
        .logo {
            font-size: 25px;
            margin-left: 30px;
            .sub {
                font-size: 14px;
                will-change: opacity;
                opacity: 1;
            }
            .clip, .sub {
                transition: opacity 0.5s ease;
            }
        }

        .search {
            position: relative;
            right: 30px;

            .input {
                font-size: 14px;
                border: 0;
                outline: 0;
                border-bottom: 1px solid #cccccc;
                padding: 5px;
                min-width: 300px;
                &:focus {
                    border-bottom-color: #07486B;
                }
            }
            .icon {
                position: absolute;
                right: 0;
                top: 5px;
                pointer-events: none;
                width: 16px;
                height: 16px;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: row;
        padding: 10px 30px;
        margin-top: 100px;

        .toggler {
            display: none;
        }
        .left-pane {
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
            width: 300px;
            position: fixed;
            transform-origin: 0 0;
            background-color: #ffffff;

            .bar {
                font-size: 12px;
                border-bottom: 1px solid #eeeeee;
                padding: 20px;
                .head {
                    font-size: 18px;
                    color: #07486B;
                    margin-bottom: 10px;
                }
                &:last-child {
                    border: none;
                }
            }

            .sort-bar {
                .select {
                    width: 90%;
                }
            }

            .filter-bar {
                .price-f{
                    input {padding: 3px; margin-top:2px; display: inline-block; width: 30%;}
                }
            }

            .button, .close-filter {
                margin-top: 20px;
                padding: 10px;
                text-align: center;
                border-radius: 3px;
                cursor: pointer;
                background-color: #07486B;
                color: #fff;
                width: 40%;
            }

            .view-bar {
                .view-f{
                    img {width: 24px; height: 24px;}
                }
            }
        }

        .right-pane-container {
            margin-left: 300px;
            width: 100%;
        }

        .right-pane {
            flex: 1;
            padding: 20px;

            .items {
                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-bottom: 1px solid #eeeeee;
                    padding: 20px;

                    .info {
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        .image {
                            margin-right: 30px;
                            width: 150px;
                            min-height: 200px;
                            background-color: rgba(0,0,0,0.1);
                            background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(50%,rgba(255,255,255,0.35)), color-stop(100%, transparent));
                            background-repeat: no-repeat;
                            -webkit-animation: loading-shell 2s linear infinite;

                            .img {
                                width: 150px;
                            }
                        }
                        .title {
                            font-size: 20px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .category {
                            color: #555;
                            &.apparel {
                                &:before {
                                    display: block;
                                    margin-bottom: 3px;
                                    content: "· Apparel ·"
                                }
                            }
                            &.accessory {
                                &:before {
                                    display: block;
                                    margin-bottom: 3px;
                                    content: "· Accessory ·"
                                }
                            }
                        }
                        .line-2 {
                            margin: 10px 0;
                        }
                        .desc {
                            color: #848484;
                            font-size: 14px;
                            padding-left: 10px;
                            width: 90%;
                            overflow: hidden;
                            margin: 5px 0;
                            border-left: 1px dashed #cccccc;
                        }
                        .colors {
                            border-radius: 3px;
                            padding: 3px;
                            margin: -1px 0 0 3px;
                            display: inline-block;
                            vertical-align: middle;
                            .color {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                    .price {
                        &.oos {
                            .quantity, .value {
                                color: #cccccc;
                            }
                        }
                        .value {
                            font-size: 20px;
                        }
                        .quantity {
                            color: #7CB342;
                            margin-top: 5px;
                        }
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }


    .loader-shell {
        color: transparent;
        transform: translateZ(0);
        width: 100%;
        background-color: rgba(0,0,0,0.1);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(50%,rgba(255,255,255,0.35)), color-stop(100%, transparent));
        background-repeat: no-repeat;
        -webkit-animation: loading-shell 2s linear infinite;
        &.first {
            height: 100px;
            width: 10%;
            margin-right: 5px;
        }
        &.second {
            height: 30px;
        }
        &.third {
            height: 30px;
            width: 80%;
            margin-top: 5px;
        }
    }
    @keyframes loading-shell {
        0%{background-position: -500px 0}
        100%{background-position: 500px 0}
    }

    .rating {
        display: inline-block;
        padding: 5px;
        font-size: 12px;
        border-radius: 5px;
        color: #fff;
        background-color: #D4E157;
        .star {
            margin-right: 2px;
        }
        &.positive {
            background-color: #9CCC65;
        }
    }

    .close-filter {
        display: none;
    }

    .toast {
        position: fixed;
        top: 10px;
        width: 200px;
        margin: 0 auto;
        left: 0;
        right: 0;
        padding: 8px;
        text-align: center;
        background-color: #333;
        opacity: 0.8;
        border-radius: 5px;
        color: #fff;
        transform: translateY(0px);
        transition: transform 0.5s ease;
        &.hidden {
            transform: translateY(-100px);
        }
    }

}

@media only screen and (max-width: 850px) {
    .page {
        .header {
            transform: translateY(-10px);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
            .logo {
                .clip{
                    opacity: 0;
                }
            }
            .search {
                .input {
                    min-width: 100px;
                }
            }
        }
        .left-pane-container {
            .toggler {
                display: inline;
                &:before {
                    content: " MENU";
                    margin-left: 20px;
                }
            }
            .toggler:checked ~ .left-pane{
                transform: scale(1);
            }
        }
        .content {
            padding: 10px;

            .left-pane {
                box-shadow: 0 1px 3px 1000px rgba(0,0,0,.4);
                transition: transform 0.5s ease;
                transform-origin: 20% 40%;
                transform: scale(0);
            }

            .right-pane-container {
                margin-left: 0;
                .right-pane {
                    padding: 0;
                    .items {
                        .item {
                            display: block;
                            text-align: center;
                            .info {
                                width: 100%;
                                display: block;
                                .image {
                                    margin: 0 auto;
                                }
                                .desc {
                                    font-size: 12px;
                                    border: none;
                                }
                            }
                            .details {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
        .close-filter {
            display: block;
            text-decoration: none;
            margin: 20px;
            background-color: #00796B!important;
            text-align: center;
        }
    }
}